{% extends "auctions/layout.html" %}

{% block body %}

    <h2> Create New Listing</h2>

    {% if message %}
        <div class="div-2"> <strong> {{ message }}</strong></div>
    {% endif %} 

    <div class="form-group col-md-11">
        <div class="form-group">
            <form action="{% url 'create_listing' user.id %}" method="post">
                {% csrf_token %} 
           
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-primary mb-2">Save</button>
            </form>
        </div>
    </div>


{% endblock %}