{% extends "auctions/layout.html" %}

{% block body %}
<style>
    .div-2 {
    background-color: #ABBAEA;
    }
</style>


    {% if message %}
    <div class="div-2"> <strong> {{ message }}</strong></div>
    {% endif %}
    
    <h2>{{listing.title}} </h2>

    <ul>
        <li>{{listing.description}} </li><br>
        <li><img src="{{ listing.image }}"/> </li><br>
        <li>Starting bid: {{ listing.starting_bid }} </li><br>
        <li> Current price: {{ current_price }}</li>
        <li>
            <form action="{% url 'place_bid' listing.id %}" method="post">
                {% csrf_token %}
                <input type="number", name="ammount", placeholder="Place your bid here", min="0">
                <input type="submit", value="Place Bid">
             </form>
        </li>
       
        <br>

        {% if user.is_authenticated %}
            {% if item %}
            <li>
                <form action="{% url 'remove_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit", value="Remove From Watchlist">
                 </form>
            </li>
            {% else %}
            <li>
                <form action="{% url 'add_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit", value="Add to Watchlist">
                 </form>
            </li>
            {% endif %}
            <br>
        {% else %}
            <h2>Please log in to be able to add item to watchlist</h2>
        {% endif %}
        <br>
        <li>{{ listing.category}}</li>          
        <li>by {{listing.user_id}} </li>
    </ul>
    

{% endblock %}