{% extends "auctions/layout.html" %}

{% block body %}

<style>
    .div-2 {
    background-color: #ABBAEA;
    }
</style>


    <h2>{{user}}'s Watchlist</h2>

    {% if message %}
    <div class="div-2"> <strong> {{ message }}</strong></div>
    {% endif %}

    <ul>
        {% for item in watchlist %}
        <li><a href="{% url 'listing' item.listing.id %}" >{{ item.listing.title }} </a> <br>
                Starting bid: {{ item.listing.starting_bid }} <br>
                <img src="{{ item.listing.image }}"/> <br>
        </li>
    </ul>
        {% endfor %}
          
{% endblock %}